body {
  background-color: #18324e;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #18324e;
}

#th {
  color: #18324e;
  font-size: 1.2rem;
  font-weight: 500;
}

#td {
  color: rgb(21, 20, 20);
  font-weight: 500;
  font-size: 1rem;
}

/* form */

.divbox {
  background-color: #f8f9fa;
}

label {
  color: #6f2169;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.form-control {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.btn-color {
  background-color: #6f2169;
  color: white;
  border-radius: 0px;
}

.v {
  font-size: 4rem;
  color: #f8f9fa;
}
